*{
    padding : 0;
    margin :0;
    box-sizing : border-box;
}

.main{
    font-size: 60px;
    color: red;
    margin-bottom : 30px;
    margin-top: 10px;
    margin-left: 300px;
}

#but1{
    font-size: 20px;
    color: black;
    /* background-color: white; */
    margin-left: 400px;
    margin-bottom:10px;
}

#but2{
    font-size: 20px;
    color: black;
    /* background-color: white; */
    margin-left: 410px;
    margin-bottom:10px;
}

#but3{
    font-size: 20px;
    color: black;
    /* background-color: white; */
    margin-left: 400px;
}

.intro{
    margin-left: 300px;
    
}

